              
.toggle-page{
    list-style-type: none;
    display: inline-block;
    position: fixed;
    right: 0;
    top: 30%;
    left: auto;
    bottom: auto;
    width: 100px;
    z-index: 999;
    color: #ffffff;
    margin: 0;
    padding: 0;
}
.dot-scroll-page{
    display: block
}
.dot-default, .dot-bar, .dot-active{
    width: 44px;
    height: 26px;
    text-align: center;
    background-size: contain
}
.dot-default{   
    background-image: url("./assets/dot-default.png")
}
.dot-bar{
    background-image: url("./assets/dot-bar.png");
    width: 5px;
    height: 27px;
    margin: 9px 0;
    position: relative;
    left:20px}
.dot-active{
    background-image: url("./assets/dot-active.png")    
 }            
